node[label] {
    label: data(label);
}

node[weight] {
    label: data(weight);
}

node.ghost {
    label: none;
    background-color: rgba(123, 123, 123, 0.3);
}

node.eh-handle {
    border-width: 2px;
    border-style: solid;
    border-color: red;
}

edge {
    curve-style: bezier;
}

edge.node-selected {
    line-color: blue;
    target-arrow-color: blue;
}

edge.eh-ghost-edge.eh-preview-active {
    width: 0;
}

edge[label] {
    label: data(label);
}

edge[?oriented] {
    target-arrow-shape: triangle;
}