<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive graph visualizer</title>
    <link rel="stylesheet" href="{{ static("libs/vis-js//vis.min.css") }}">
    <link rel="stylesheet" href="{{ static("css/index.css") }}">
    <script defer src="{{ static("libs/vis-js/vis.min.js") }}"></script>
    <script defer src="{{ static("libs/jquery-3.4.0.min.js") }}"></script>
    <script defer src="{{ static("libs/materialize-src/js/bin/materialize.min.js") }}"></script>
    <script defer src="{{ static("js/index.js") }}"></script>
</head>
<body>
    <header class="card-panel">
        Interactive graph visualizer
    </header>
    <main>
        <div class="content card-panel">
            <div id="graph-popup" class="modal">
                <div class="modal-content">
                    <header></header>
                    <div class="input-field">
                        <input type="text" name="id" placeholder="Leave blank for random id">
                        <label>Node id</label>
                    </div>
                    <div class="input-field">
                        <input type="text" name="label">
                        <label>Node label</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-action="cancel" class="modal-close btn waves-effect waves-light">Cancel</button>
                    <button data-action="save" class="modal-close btn waves-effect waves-light">Save</button>
                </div>
            </div>
            <div id="graph-container"></div>
        </div>
        <div class="side-bar card-panel">
            <table id="incidence-matrix">
                <tr>
                    <th class="root-cell"></th>
                    <th data-node-id="1">1</th>
                    <th data-node-id="1">2222222</th>
                    <th data-node-id="1">2222222</th>
                    <th data-node-id="1">2222222</th>
                    <th data-node-id="1">2222222</th>
                </tr>
                <tr>
                    <th data-node-id="1">1</th>
                    <td data-edge-id="1">XXXX</td>
                    <td data-edge-id="1">X</td>
                    <td data-edge-id="1">X</td>
                    <td data-edge-id="1">X</td>
                    <td data-edge-id="1">X</td>
                </tr>
            </table>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>